<h2>Vos Recherches</h2>
<table class="table table-hover table-sm">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Date</th>
			<th scope="col">Poste</th>
			<th scope="col">Entreprise</th>
			<th scope="col">Client</th>
			<th scope="col">Contact</th>
			<th scope="col">Tel</th>
			<th scope="col">Statut</th>
			<th scope="col">edit</th>
			<th scope="col">audit</th>
			<th scope="col">delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let recherche of recherches; let i = index">
			<td> {{ i+1 }}</td>
			<td> {{ recherche.dateContact }} </td>
			<td> {{ recherche.poste }} </td>
			<td> {{ recherche.entreprise }} </td>
			<td> {{ recherche.client }} </td>
			<td> {{ recherche.contactPrenom }} {{ recherche.contactNom }} </td>
			<td> {{ recherche.contactTelephone }} </td>
			<td> {{ recherche.statut }} </td>
			<td><a class="btn btn-info btn-sm" (click)="onAudit(recherche)">Audit</a></td>
			<td><a class="btn btn-warning btn-sm" (click)="onEdit(recherche)">Edit</a></td>  
			<td><a class="btn btn-danger btn-sm" (click)="onDelete(recherche.$key)">Delete</a></td>
		</tr>
	</tbody>
</table>

<table class="table table-responsive table-hover">
    <thead>
        <tr><th>Column</th><th>Column</th><th>Column</th><th>Column</th></tr>
    </thead>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
            <td><i class="fas fa-plus" aria-hidden="true"></i></td>
            <td>data</td>
          	<td>data</td>  
            <td>data</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-1" class="collapse">
        <tr>
            <td>- child row</td>
            <td>data 1</td>
          	<td>data 1</td>  
            <td>data 1</td>
        </tr>
        <tr>
            <td>- child row</td>
            <td>data 1</td>
          	<td>data 1</td>  
            <td>data 1</td>
        </tr>
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2">
            <td><i class="fas fa-plus" aria-hidden="true"></i></td>
            <td>data</td>
          	<td>data</td>  
            <td>data</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-2" class="collapse">
        <tr>
            <td>- child row</td>
            <td>data 2</td>
          	<td>data 2</td>  
            <td>data 2</td>
        </tr>
        <tr>
            <td>- child row</td>
            <td>data 2</td>
          	<td>data 2</td>  
            <td>data 2</td>
        </tr>
    </tbody>
</table>