<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>Créer un compte</h2>
		<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" id="email" formControlName="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="passwd">Password</label>
				<input type="password" id="passwd" formControlName="passwd" class="form-control" >
			</div>
      <div class="form-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="role">Role</span>
        </div>
        <select formControlName="roles" id="role" class="custom-select" multiple>
          <option [value]="role" *ngFor="let role of allRoles">{{role}}</option>
        </select>
      </div>

			<button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Créer mon compte</button>

		</form>

		<p class="text-danger">{{ errorMessage }}</p>

	</div>
</div>
