
 <div class="container">
    <h2 [hidden]="keyIdIsNull()" >Update Recherche</h2>
    <h2 [hidden]="!keyIdIsNull()" >Creer une Recherche</h2>
	<form class="form-group" [formGroup]="rechercheForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">
		<div class="form-row">
			<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="dateContact">Date Contact</span>
                    </div>
                    <input type="text"  class="form-control" id="dateContact" formControlName="dateContact"
                        bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }"/>
                </div>
			</div>
	    	<div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="poste">Poste</span>
                    </div>
                    <input type="text" class="form-control" id="poste" formControlName="poste" placeholder="Poste"/>
                </div>
			</div>
			<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="statut">Statut</span>
                    </div>
                    <select class="form-control" id="statut" formControlName="statut" >
	   				    <option [value]="statut" *ngFor="let statut of allStatutsRecherche">{{statut}}</option>
	    		    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
			<div class="form-group col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="assignationORP">Assignation ORP</span>
                    </div>
                    <select class="form-control" id="assignationORP" formControlName="assignationORP">
	   				    <option [value]="bool" *ngFor="let bool of allAssignationORP">{{bool}}</option>
	    		    </select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="tauxActivite">Taux d'activité</span>
                    </div>
                    <select class="form-control" id="tauxActivite" formControlName="tauxActivite">
	   				    <option [value]="tx" *ngFor="let tx of allTauxActivite">{{tx}}</option>
	    		    </select>
                </div>
            </div>
	   	    <div class="form-group col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="approcheMedia">Approche Media</span>
                    </div>
                     <select class="form-control" id="approcheMedia" formControlName="approcheMedia">
	   				    <option *ngFor="let media of allApprocheMedia" [value]="media" >{{media}}</option>
	    		</select>
                </div>
            </div>
        </div>
        
        
        <h3>Entreprise de Conatct</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="entrepriseS">Nom</span>
                    </div>
                     <input type="text" class="form-control" id="entrepriseS" formControlName="entrepriseS" placeholder="Fournisseur de service"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="entrepriseTelS">Tel.</span>
                    </div>
                     <input type="text" class="form-control" id="entrepriseTelS" formControlName="entrepriseTelS" placeholder="Telephone"/>
                </div>
            </div>
        </div>

        <div class="form-row">
	   		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactNomS">Nom</span>
                    </div>
                    <input type="text" class="form-control" id="contactNomS" formControlName="contactNomS" placeholder="Nom"/>
                </div>
	  		</div>
	  		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactPrenomS">Prenom</span>
                    </div>
                    <input type="text" class="form-control" id="contactPrenomS" formControlName="contactPrenomS" placeholder="Prenom"/>
                </div>
	  		</div>
                
	   		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactTelephoneC">Telephone</span>
                    </div>
                    <input type="text" class="form-control" id="contactTelephoneS" formControlName="contactTelephoneS" placeholder="0000 0 00 00 00"/>
                </div>	
	  		</div>
	  		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactEmailS">Email</span>
                    </div>
                    <input type="text" class="form-control" id="contactEmailS" formControlName="contactEmailS" placeholder="xxx@yyy.zzz"/>
                </div>
            </div>
        </div>
        
        <h3>Entreprise Finale</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="entrepriseF">Nom</span>
                    </div>
                     <input type="text" class="form-control" id="entrepriseF" formControlName="entrepriseF" placeholder="Fournisseur de service"/>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="entrepriseTelF">Tel.</span>
                    </div>
                     <input type="text" class="form-control" id="entrepriseTelF" formControlName="entrepriseTelF" placeholder="Telephone"/>
                </div>
            </div>
        </div>

        <div class="form-row">
	   		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactNomF">Nom</span>
                    </div>
                    <input type="text" class="form-control" id="contactNomF" formControlName="contactNomF" placeholder="Nom"/>
                </div>
	  		</div>
	  		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactPrenomF">Prenom</span>
                    </div>
                    <input type="text" class="form-control" id="contactPrenomF" formControlName="contactPrenomF" placeholder="Prenom"/>
                </div>
	  		</div>
                
	   		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactTelephoneF">Telephone</span>
                    </div>
                    <input type="text" class="form-control" id="contactTelephoneF" formControlName="contactTelephoneF" placeholder="0000 0 00 00 00"/>
                </div>	
	  		</div>
	  		<div class="form-group col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="contactEmailF">Email</span>
                    </div>
                    <input type="text" class="form-control" id="contactEmailF" formControlName="contactEmailF" placeholder="xxx@yyy.zzz"/>
                </div>
            </div>
        </div>

	  	
	  	<div class="form-row">
	  		<div class="form-group col-md-2">
				<button type="submit" class="btn btn-success" [disabled]="rechercheForm.invalid">Submit</button>
			</div>
			<div class="form-group col-md-2">
				<button class="btn btn-primary" (click)="resetForm()" [disabled]="rechercheForm.invalid" [hidden]="!keyIdIsNull()">Reset</button>
            </div>
            <div class="form-group col-md-2">
                <!-- <button class="btn btn-primary" (click)="this.rechercheService.resetForm()" >Back</button> -->
                <button class="btn btn-secondary" (click)="onBack()">Back</button> 
            </div>
            <div class="form-group col-md-2">
                <!-- <button class="btn btn-primary" (click)="this.rechercheService.resetForm()" >Back</button> -->
                <!-- <button class="btn btn-secondary" (click)="onTest()">Test</button>  -->
			</div>
		</div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
            Submitted successfully !!!
    </div>
</div>

<!-- <br>
{{ this.rechercheService.keyIdIsNull() }}
<br>
{{ this.rechercheService.form.value | json }}
<br>
formControls.entreprise.valid = {{ formControls.entreprise.valid }}
<br>
formControls.client.valid = {{ formControls.client.valid }}
<br>
Submitted = {{ submitted }}
<br>
invalid ? = {{ formControls.invalid  }} -->